header{
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
    left: 0;
    .banner{
        font-size: $littleFontSize;
        @include wrap();
        justify-content: space-between;
        padding: $spacing1 0;
        a{
            color:$secondTextColor;
            padding: 0 $spacing1;
            &:visited{
                color: $secondTextColor;
            }
        }
    }
    nav{
        padding: $spacing3 0;
        height: 90px;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100%;
            width: auto;
        }
        a{
           @include a-animation;
        }
        .active{
            color: $primaryColor; 
        }
    }
    .sub-heading{
        color:$darkGray;
    }
}

