
.hero{
    height: calc(100vh);
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .banner{
        background-color: $firstMaterial;
        padding: $spacing4;
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        display: flex;
        justify-content: center;
    }
}
.title{
    transform: translateY(-100px);
    opacity: 0%;
    transition: opacity $animationSpeed $bezier, transform $animationSpeed $bezier;
}
.animation-hero{
    opacity: 100%;
    transform: translateY(0px);
}
section.block{
    text-align: center;
    padding: $spacing5;
    p{
        font-size: 0.85em;

        margin: $spacing3 auto;
        max-width: 500px;
    }
}
.full-service{
    .img-container{
        text-align: center;
        img{
            width: calc(100% + 40px);
            transform: translate(-20px,-$spacing3);
            height: auto;
            object-fit: cover;
            border: 20px solid #f6f6f6;
        }
    }
    .card > div{
        border: 20px solid #f6f6f6;
    }
    
}
.move-section{
    color: $secondTextColor;
    display: flex;
    justify-content: flex-end;

    background-size: cover;
    background-position-y: center;
    background-position-x:center ;
    background-repeat: no-repeat;
    .card{
        width: 40%;
        max-width: 500px;
        background-color: $fifthMaterial;
        border: 10px solid $thirdMaterial;
        padding: $spacing5 $spacing3;
        .sub-heading{
            color: $secondTextColor;
            font-weight: 600;
            font-size: $littleFontSize;
        }
        h2{
            color: $secondTextColor;
        }
        p{
            color: $secondTextColor;
            margin: $spacing4 0 ;
            font-size: $littleFontSize;
        }
    }
}
.testimonials-section{

    background-size: cover;
    background-position-x: right;
    .img-container{
        img{
            width: 110px;
            display: inline-block;
            border-radius: 50%;
        }
    }
    blockquote{
        line-height: 1.6em;
        color: $darkGray;
        font-size: $littleFontSize;
        font-style: italic;
    }
}
.request-section{

    border-bottom: 10px solid $primaryColor;
    p{
        max-width: 700px;
        margin: auto;
        font-size: 1em;
        font-weight: 400;

    }
}
// RESPONSIVENESS
@media screen and (max-width: 900px) {
    .full-service .card{
        width: 100%;
        max-width: 700px;
    }
}