*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 800;
    font-size: 3em;
    margin: $spacing1 0;
}
h2{
    font-weight: 800;
    font-size: 2.3em;
    color: $primaryColor;
    margin: $spacing2 0;
}
h4{
    font-weight: 900;
}
a{
    display: inline-block;
    font-weight: 600;
    color: $firstTextColor;
    text-decoration: none;
    font-size: $littleFontSize;
    &:visited{
        color: $fourthMaterial;

    }
}
p{
    font-size: $littleFontSize;
    line-height: 1.8em;
    color:$darkGray;
    font-weight: 500;

}
.wrap{
    width:90%;
    margin: auto;
    max-width: 1100px;
}
.banner{
    color: $secondTextColor;
    display: flex;
    font-size: 0.9em;
    letter-spacing: 2px;
}
section{
    padding: $spacing6;
    h3{
        color: $secondaryColor;
        font-size: 1.5em;
        margin: #{$spacing4+20} 0 $spacing2 0
    }
}
.sub-heading{
    font-size: 0.85em;
    color: $neutralColor;
    font-weight: 800;
    text-transform: capitalize;
}
.card{
    max-width: 330px;
    flex: 1;
}
.btn{
    color: white;
    &:visited{
        color: white;
    }
    display: inline-block;
    padding: 10px 19px;
    text-transform: capitalize;
    background-color: $firstMaterial;
    color: $secondTextColor;
    border-radius: $spacing3;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1.5px;

}
.horizontal-line{
    border-bottom: 0.5px solid white;
    width: 75%;
    margin: auto;
}
ul{
    list-style-type: none;
}