header{
    .banner{
        font-size: $littleFontSize;
        @include wrap();
        justify-content: space-between;
        padding: $spacing1 0;
        a{
            color:$secondTextColor;
            padding: 0 $spacing1;
            &:visited{
                color: $secondTextColor;
            }
        }
    }
    nav{
        padding: $spacing3 0;
        height: 90px;
        justify-content: space-between;
        align-items: center;
        img{
            height: 100%;
            width: auto;
        }
        a{
            transition: color 0.2s ease-in;
            &:hover{
                color: $primaryColor;
            }
        }
        .active{
            color: $primaryColor; 
        }
    }
    .sub-heading{
        color:$darkGray;
    }
}

