header{
    .banner{
        @include wrap();
        justify-content: space-between;
    }
    nav{
        height: 90px;
        img{
            height: 100%;
            width: auto;
        }
        justify-content: space-between;
        align-items: center;
    }
}

