header{
    .banner{
        font-size: 13px;
        @include wrap();
        justify-content: space-between;
        padding: $spacing1 0;
        a{
            color:white;
            padding: 0 $spacing1;
            &:visited{
                color: white;
            } 
        }
    }
    nav{
        padding: $spacing3 0;
        height: 90px;
        img{
            height: 100%;
            width: auto;
        }
        justify-content: space-between;
        align-items: center;
    }
    .sub-heading{
        color:$darkGray;
    }
}

