.hero{
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/public/imgs/avada-movers-homeherobackground-final.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .banner{
        background-color: $secondaryColor;
        padding: $spacing4;
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        display: flex;
        justify-content: center;
    }
}
section.block{
    text-align: center;
    margin: $spacing2 auto;
    padding: $spacing5;
    p{
        font-size: 0.85em;
        font-weight: 500;
        margin: $spacing3 auto;
        max-width: 500px;
    }
}
.full-service{
    .img-container{
        text-align: center;
        img{
            width: 85%;
            height: auto;
            object-fit: cover;
        }
    }
    
}