.hero{
    height: 60vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url('/public/imgs/avada-movers-homeherobackground-final.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    .banner{
        background-color: $secondaryColor;
        padding: $spacing4;
        position: absolute;
        bottom: 0;
        left: 0;
        right:0;
        display: flex;
        justify-content: center;
    }
}
section.block{
    text-align: center;
    margin: $spacing2 auto;
    padding: $spacing5;
    p{
        font-size: 0.85em;
        font-weight: 500;
        margin: $spacing3 auto;
        max-width: 500px;
    }
}
.full-service{
    .img-container{
        text-align: center;
        img{
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .card{
        border: 10px solid #e7e7e7;
    }
    
}
.move-section{
    color: $secondTextColor;
    display: flex;
    justify-content: flex-end;
    background-image: url('/public/imgs/avada-movers-movewithease-background-new.jpg');
    background-size: cover;
    background-position-y: center;
    background-position-x:center ;
    background-repeat: no-repeat;
    .card{
        width: 40%;
        max-width: 450px;
        background-color: $fifthMaterial;
        border: 10px solid $thirdMaterial;
        padding: $spacing5 $spacing3;
        margin-right: 15%;
        .sub-heading{
            color: $secondTextColor;
            font-weight: 600;
            font-size: 13px;
        }
        h2{
            color: $secondTextColor;
        }
        p{
            color: $secondTextColor;
            margin: $spacing4 0 ;
            font-size: 13px;
        }
    }
}
.testimonials-section{
    background-image: url(/public/imgs/avada-movers-testimonial-background.jpg);
    background-size: cover;
    background-position-x: right;
    .img-container{
        img{
            width: 110px;
            display: inline-block;
            border-radius: 50%;
        }
    }
    blockquote{
        line-height: 1.6em;
        color: $darkGray;
        font-size: 13px;
        font-weight: 500;
        font-style: italic;
    }
}
.request-section{
    background-image: url('/public/imgs/avada-movers-request-quote-background.jpg');
    p{
        max-width: 600px;
        margin: auto;
        font-size: 13px;
        font-weight: 500;
    }
}