// UTILITIES
.flex{
    display: flex;
}
.flex.justify-center{
    justify-content: center;
}
.third-material-bg{
    background-color: $thirdMaterial;
}
.wrap{
    @include wrap();
}
.text-center{
    text-align: center;
}
.overflow-hidden{
    overflow: hidden;
}
//MARGINS AND PADDINGS
@for $i from 1 through 3 {
    .padding-#{$i} {
        padding: #{$i*5}px;
    };
}
@for $i from 4 through 6 {
    .padding-#{$i} {
        padding: #{$i}em;
    };
}
@for $i from 1 through 3 {
    .margin-#{$i} {
        margin: #{$i}em;
    };
}
@for $i from 1 through 7 {
    .margin-top-#{$i} {
        margin-top: #{$i*5}px;
    };
}

