// PALETTE
$secondTextColor: #fefefe;
$firstTextColor: #262727;
$primaryColor: #69bf14;
$secondaryColor: #1975c0;
$neutralColor: #afaeae;
$darkGray: #6b6b6b;
$thirdColor: #dd7069;
// MEDIAN PALETTE
$firstMedianColor: #4c8d53;
$secondMedianColor: #e9e9e9;
$thirdMedianColor: #9ba05a;
$fourthMedianColor: #86695a;
$fifthMedianColor: #93989b;
//MATERIAL PALETTE
$firstMaterial: #1b74c3;
$secondMaterial: #4d596a;
$thirdMaterial: #6bbb14;
$fourthMaterial: #292b2f;
$fifthMaterial: #8fce53;
//SPACING
$spacing1: 10px;
$spacing2: 15px;
$spacing3: 20px;
$spacing4: 25px;
$spacing5: 50px;
$spacing6: 60px;

